<header>
    
    <h1>
        <a routerLink="About" style="text-decoration: none; color: black;" title="about">
            {{title}}
        </a>
    </h1>
    <app-button *ngIf="hasRoute('/')" 
    color = "{{showTaskValue ? 'blue':'green'}}" 
    button_text ="{{showTaskValue ? 'Close':'tasks!'}}" 
    (Check_click)="ToggleShowTask()" >
</app-button>
    <app-button *ngIf="hasRoute('/')"
    color = "{{addTaskValue ? 'red':'blue'}}" 
    button_text ="{{ addTaskValue ? 'Close':'Add'}}" 
    (Check_click)="ToggleAddTAsk()" >
</app-button>
</header>
    


